Source: vrrpd
Section: net
Priority: optional
Maintainer: Javier Fernandez-Sanguino Pen~a <jfs@computer.org>
Build-Depends: debhelper (>> 3.0.0)
Standards-Version: 3.5.2
Homepage: http://sourceforge.net/projects/vrrpd/

Package: vrrpd
Architecture: any
Depends: ${shlibs:Depends}
Description: Virtual Router Redundancy Protocol user-space implementation
 This package provides an implementation of VRRPv2 as specified in rfc2338. 
 It runs in the Linux kernel's userspace (as root).
 .
 VRRP can be used to setup high-availability services in Debian since two 
 machines can use the same (virtual) IP address which is transfered upon
 failover. Some kernel features need to be enabled (please read the FAQ)
