[Unit]
Description=vrrpd
After=network.target auditd.service

[Service]
Type=forking
Restart=no
TimeoutSec=5min
IgnoreSIGPIPE=no
KillMode=process
GuessMainPID=no
RemainAfterExit=yes
SysVStartPriority=20
ExecStart=/etc/vrrpd/startup.sh start
ExecStop=/etc/vrrpd/startup.sh stop

[Install]
WantedBy=multi-user.target
Alias=vrrp.service
