[Unit]
Description=advanced-vrrpd
After=network.target network-online.target auditd.service
Wants=network-online.target

[Service]
Type=forking
ExecStart=/etc/vrrpd/vrrp_on.sh
ExecStop=/usr/bin/killall vrrpd

[Install]
WantedBy=multi-user.target
